<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />

		<!-- Grab title from the page data and dump it here -->
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			<h1><a href="/">{{global.websiteTitle}}</a></h1>
		</header>
		<main class="col-2">
			<div class="left">
				<!-- Grab the content from the page data, dump it here, and mark it as safe -->
				{{{content}}}
			</div>
			<div class="right">
				<nav>
					<ul>
						{{#each collections.section}}
						<li>
							<a href="{{this.url}}">{{this.data.title}}</a>
						</li>
						{{/each}}
					</ul>

					<h4>Recent Posts</h4>
					<ul>
						{{#each collections.post}}
							<li>
								<a href="{{this.url}}">{{this.data.title}}</a>
							</li>
						{{/each}}
					</ul>
				</nav>
			</div>
		</main>
		<footer></footer>
	</body>
</html>